    <!-- rts footer area start -->
    <div class="rts-footer-two rts-section-gap2Top">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <!-- ,main footer area start -->
                    <div class="main-footer-wrapper-two">
                        <div class="single-footer-wized-two logo-area" data-sal="slide-up" data-sal-delay="150" data-sal-duration="800">
                            <a href="assets/images/logo/02.png" class="logo">
                                <img src="https://reactheme.com/products/html/elevate/assets/images/logo/02.png" alt="logo">
                            </a>
                            <p class="disc-f">
                                Централизованные приложения создаются до того, как интерфейсные ворталы визуализируют интерфейс.
                            </p>
                            <div class="rts-social-wrapper-three">
                                <ul>
                                    <li><a href="{{settings.facbook}}"><i class="fa-brands fa-facebook-f"></i></a></li>
                                    <li><a href="{{settings.twitter}}"><i class="fa-brands fa-twitter"></i></a></li>
                                    <li><a href="{{settings.youtube}}"><i class="fa-brands fa-youtube"></i></a></li>
                                    <li><a href="{{settings.linkedin}}"><i class="fa-brands fa-linkedin-in"></i></a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="single-footer-wized-two pages" data-sal="slide-up" data-sal-delay="250" data-sal-duration="800">
                            <div class="footer-header-two pages">
                                <h6 class="title">Ссылки</h6>
                                <div class="pages">
                                    <ul>
                                        <li><a href="{%url 'about'%}"><i class="fa-solid fa-arrow-right"></i> О нас</a></li>
                                        <li><a href="{%url 'project'%}"><i class="fa-solid fa-arrow-right"></i> Наши проекты</a></li>
                                        <li><a href="{%url 'service'%}"><i class="fa-solid fa-arrow-right"></i>Наши услуги</a></li>
                                        <li><a href="{%url 'team'%}"><i class="fa-solid fa-arrow-right"></i>Наша команда</a></li>
                                        <li><a href="{%url 'contact'%}"><i class="fa-solid fa-arrow-right"></i>Контакты</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="single-footer-wized-two user-number" data-sal="slide-up" data-sal-delay="350" data-sal-duration="800">
                            <div class="user-number-wrapper mt--10">
                                <!-- single number -->
                                <div class="single-number">
                                    <h6 class="title">Тел. номер</h6>
                                    <div class="number">
                                        <i class="fa-solid fa-phone"></i>
                                        <a href="tel:{{settings.tel_num}}">{{settings.tel_num}}</a>
                                    </div>
                                </div>
                                <!-- single number end -->
                                <!-- single number -->
                                <div class="single-number">
                                    <h6 class="title">Email address</h6>
                                    <div class="number">
                                        <i class="fa-light fa-envelope"></i>
                                        <a href="mailto:{{settings.email}}">{{settings.email}}</a>
                                    </div>
                                </div>
                                <!-- single number end -->
                                <!-- single number -->
                                <div class="single-number">
                                    <h6 class="title">Наш адрес</h6>
                                    <div class="number">
                                        <i class="fa-light fa-location-dot"></i>
                                        <a class="mt-dec" href="{{settings.adr_link}}">{{settings.adress}}</a>
                                    </div>
                                </div>
                                <!-- single number end -->
                            </div>
                        </div>
                        <div class="single-footer-wized-two newsletter" data-sal="slide-up" data-sal-delay="550" data-sal-duration="800">
                            <div class="footer-header-two newsletter">
                                <h6 class="title">Newsletter</h6>
                                <p class="letters">
                                    Aplications prodize before front end ortals visualize front end
                                </p>
                                <form action="#" class="subscribe-2-footer">
                                    <input type="email" required placeholder="Email Address">
                                    <button class="rts-btn btn-primary">Subscribe Now</button>
                                </form>
                            </div>
                        </div>
                    </div>
                    <!-- ,main footer area end -->
                </div>
            </div>
        </div>
        <div class="menu-row-wrapper mt--80">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="menu-wrapper-footer-row">
                            <!-- single menu wrapper -->
                            <div class="single-menu" data-sal="zoom-in" data-sal-delay="150" data-sal-duration="800">
                                <a href="{%url 'about'%}">О нас</a>
                            </div>
                            <!-- single menu wrapper end -->
                            <!-- single menu wrapper -->
                            <div class="single-menu" data-sal="zoom-in" data-sal-delay="150" data-sal-duration="800">
                                <a href="{%url 'project'%}">Проекты</a>
                            </div>
                            <!-- single menu wrapper end -->
                            <!-- single menu wrapper -->
                            <div class="single-menu" data-sal="zoom-in" data-sal-delay="150" data-sal-duration="800">
                                <a href="{%url 'contact'%}">Контакты</a>
                            </div>
                            <!-- single menu wrapper end -->
                            <!-- single menu wrapper -->
                            <div class="single-menu" data-sal="zoom-in" data-sal-delay="150" data-sal-duration="800">
                                <a href="{%url 'history'%}">Наша история</a>
                            </div>
                            <!-- single menu wrapper end -->
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <!-- copy right area start -->
        <div class="copyright-area">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="copyright-footer-two">
                            <p class="disc">
                                © 2023 Elevate. All images are for demo purposes.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- copyright area end -->
    </div>
    <!-- rts footer area end -->
    <!-- Footer two End -->

    <!-- header two -->

    <!-- progress area start -->
    <div class="progress-wrap">
        <svg class="progress-circle svg-content" width="100%" height="100%" viewBox="-1 -1 102 102">
            <path d="M50,1 a49,49 0 0,1 0,98 a49,49 0 0,1 0,-98" style="transition: stroke-dashoffset 10ms linear 0s; stroke-dasharray: 307.919, 307.919; stroke-dashoffset: 307.919;"></path>
        </svg>
    </div>
    <!-- progress area end -->

    <div class="search-input-area">
        <div class="container">
            <div class="search-input-inner">
                <div class="input-div">
                    <form action="{%url 'search'%}" method="filter"  accept-charset="utf-8" >
                    <input name='search field' id="searchInput1" class="search-input" type="text" placeholder="Search by keyword or #">
                    <button><i class="far fa-search"></i></button>
                    </form>
                </div>
            </div>
        </div>
        <div id="close" class="search-close-icon"><i class="far fa-times"></i></div>
    </div>


    <div id="anywhere-home" class="">
    </div>

    <!-- pre loader start -->
    <div id="elevate-load">
        <div class="loader-wrapper">
            <div class="lds-ellipsis">
                <div></div>
                <div></div>
                <div></div>
                <div></div>
            </div>
        </div>
    </div>
    <!-- pre loader end -->
